li {

    width: 600px;
    border: 1px solid #ccc;
    text-indent: 10px;
    line-height: 50px;
    list-style-type:none;
}

li a{
    float: right;
    margin-right: 10px;
}

.hidden{
    color: grey;
    text-decoration: line-through;
}

.hidden a{
    color: hotpink;
}

.active{
    background-color: #e7f3ff;
}

li span{
    font-size: small;
    width: 160px;
    color: grey
}